{% extends "main_layout.twig" %}
    {% block title %} Albums {% endblock %}

    {% block content %}
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="/albums/all"> My albums </a></li>
            <li><a href="/albums/shared"> Shared albums </a></li>
        </ul>


        <h1>My albums</h1>

        {% if albums %}
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Created at</th>
                    <th></th>
                    <th></th>
                </tr>


                {% for album in albums %}
                    <tr>

                        <td><a href="/albums/{{ album.id }}">{{ album.name }}</a></td>
                        <td>{{ album.active }}</td>
                        <td>{{ album.created_at | date('d/m/Y H:i') }}</td>
                        <td>
                            <form action="/albums/{{ album.id }}" method="post">
                                <input type="hidden" name="_METHOD" value="DELETE"/>
                                <input class="btn btn-primary" type="submit" value="Delete"/>
                            </form>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target=".bs-modal-lg-{{ album.id }}">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            </button>

                            <div class="modal fade bs-modal-lg-{{ album.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <br>
                                        Share link:
                                        /albums/share/{{ share_strs[album.id] }}
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% else %}
            <p>No current albums</p>
        {% endif %}

        <a href="/albums/new" class="btn btn-primary btn-block">Add new album</a>

    {% endblock %}